.s {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.arrow-left {
  height: 50px;
  padding: 10px;
  position: absolute;
  cursor: pointer;
  left: 170px;
  transform: rotateY(180deg);
  background-color: #ef4b46;
  border-radius: 50%;
}

.arrow-right {
  height: 50px;
  padding: 10px;
  position: absolute;
  cursor: pointer;
  right: 170px;
  background-color: #ef4b46;
  border-radius: 50%;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: #e73c7e;
}

.slider {
  height: 90vh;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;
}

.container {
  width: 100vw;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  width: 50vw;
  height: 60%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: change 5s ease-in-out infinite;
}
@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  0% {
    background-position: 0 50%;
  }
}

.left {
  flex: 3;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftContainer {
  width: 90%;
  height: 70%;
}

.header {
  font-size: 30px;
  font-weight: 700;
}
.para {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  flex: wrap;
}

@media screen and (max-width: 480px) {
  .slider {
    margin-top: 25px;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    margin-top: 2px;
  }

  .item {
    width: 90%;
    height: 120px;
    margin: 10px 0;
  }
  .header {
    font-size: 14px;
  }

  .para {
    font-size: 10px;
    margin-top: 5px;
  }
  .arrow-left {
    display: none;
  }

  .arrow-right {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  .s {
    height: 70vh;
  }

  .arrow-left,
  .arrow-right {
    height: 30px;
    padding: 5px;
  }

  .arrow-left {
    left: 150px;
  }

  .arrow-right {
    right: 150px;
  }
}
@media screen and (max-width: 1024px) {
  .s {
    height: 70vh;
  }

  .arrow-left,
  .arrow-right {
    height: 30px;
    padding: 5px;
  }

  .arrow-left {
    left: 150px;
  }

  .arrow-right {
    right: 150px;
  }
}
